@media screen and (min-width: 480px), (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about-item {
    margin-bottom: 30px;
  }
}

.about-image {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  margin-bottom: 30px;
}
.about-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.about-descr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .about-list {
    display: flex;
    margin-left: -30px;
    align-items: center;
  }
  .about-item {
    margin-left: 30px;
    width: 270px;
  }
}

//.about-item {
//  margin-left: 30px;
//}
//.about-image{
//  display: flex;
//  width: 270px;
//  height: 120px;
//  background-color:#F5F4FA;
//  margin-bottom: 30px;
//  align-items: center;
//  justify-content: center;
//}
//.about-title {
//  font-weight: bold;
//  font-size: 14px;
//  line-height: 1.14;
//  letter-spacing: 0.03em;
//  text-transform: uppercase;
//  color: var(--title-text-color);
//  margin-bottom: 10px;
//}
//.about-descr {
//  font-size: 14px;
//  line-height: 1.71;
//  letter-spacing: 0.03em;
//  color: var(--text-color);
//}
