@media screen and (min-width: 480px) {
  .footer-container {
    display: block;
  }
}
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  margin-bottom: 20px;
  text-align: center;
}
.footer-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-menu {
  display: block;
}
.footer-item {
  text-align: center;
}
.footer-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-logo-color {
  color: #ffffff;
}
.footer-item-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-item-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-social-links {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-social-title {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer-social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer-social-icon {
  fill: #ffffff;
}
.footer-sign-container {
  display: block;
  text-align: center;
}

.footer-sign-head {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-sign-input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #2f303a;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: white;
}
.footer-sign-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 20px;
}
.footer-sign-btn-icon {
  fill: white;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer-social-links {
    padding: 0;
    margin-bottom: 102px;
  }
  .footer-sign-input {
    margin-left: 166px;
    margin-right: 152px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .footer-sign-input {
    margin-left: 0;
    margin-right: 0;
  }
  .footer-sign-input {
    width: 358px;
    margin-right: 12px;
  }
  .footer {
    padding-bottom: 0;
  }

  //.footer-container {
  //  display: flex;
  //  align-items: baseline;
  //}

  //.footer-link {
  //  font-family: Raleway;
  //  font-style: normal;
  //  font-weight: bold;
  //  font-size: 26px;
  //  line-height: 1.19;
  //  letter-spacing: 0.03em;
  //  color: var(--accent-color);
  //}
  //.footer-logo-color {
  //  color: #ffffff;
  //}
  //.footer-item-link {
  //  font-style: normal;
  //  font-size: 14px;
  //  line-height: 1.71;
  //  letter-spacing: 0.03em;
  //  color: rgba(255, 255, 255, 0.6);
  //  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  //  &:hover,
  //  &:focus {
  //    color: var(--accent-color);
  //  }
  //}
  ////.footer-address {
  ////  margin-bottom: 20px;
  ////}
  ////.footer-menu {
  ////  margin-bottom: -9px;
  ////}
  //.footer-item {
  //  margin-bottom: 9px;
  //}
  //.footer-item-address {
  //  font-style: normal;
  //  font-size: 14px;
  //  line-height: 1.71;
  //  letter-spacing: 0.03em;
  //  color: #ffffff;
  //}
  //.footer-social-links {
  //  margin-left: 70px;
  //}
  //.footer-social-title {
  //  font-weight: bold;
  //  font-size: 14px;
  //  line-height: 1.14;
  //  letter-spacing: 0.03em;
  //  text-transform: uppercase;
  //  color: #ffffff;
  //}
  //.footer-social-list {
  //  display: flex;
  //  justify-content: space-between;
  //  margin-top: 20px;
  //}
  //.footer-social-item:not(:last-child) {
  //  margin-right: 10px;
  //}
  //.footer-social-link {
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //  width: 44px;
  //  height: 44px;
  //  border-radius: 50%;
  //  background-color: rgba(255, 255, 255, 0.1);
  //  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  //  &:hover,
  //  &:focus {
  //    background-color: var(--accent-color);
  //  }
  //}
  //.footer-social-icon {
  //  fill: #ffffff;
  //}
  //.footer-sign-container {
  //  display: inline-flex;
  //  margin-left: 93px;
  //}
  //
  //.footer-sign-head {
  //  font-weight: bold;
  //  font-size: 14px;
  //  line-height: 1.14px;
  //  letter-spacing: 0.03em;
  //  text-transform: uppercase;
  //  color: #ffffff;
  //  margin-bottom: 20px;
  //}
  //.footer-sign-label {
  //  margin-right: 12px;
  //}
  //.footer-sign-input {
  //  width: 358px;
  //  height: 50px;
  //  border: 1px solid rgba(255, 255, 255, 0.3);
  //  background: #2f303a;
  //  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  //  border-radius: 4px;
  //  padding-left: 16px;
  //  color: white;
  //}
  //.footer-sign-btn {
  //  display: inline-flex;
  //  align-items: center;
  //  justify-content: center;
  //  width: 200px;
  //  height: 50px;
  //  cursor: pointer;
  //  background-color: var(--accent-color);
  //  color: white;
  //  font-weight: bold;
  //  font-size: 16px;
  //  line-height: 1.88;
  //  letter-spacing: 0.06em;
  //  border-color: transparent;
  //  border: 1px solid #000000;
  //  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  //  border-radius: 4px;
  //}
  //.footer-sign-btn-icon {
  //  fill: white;
  //  margin-left: 10px;
}
