.team {
  background: #f5f4fa;
}
.team__menu {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.team__item {
  margin-left: 30px;
  margin-top: 30px;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.team__descr {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team__about {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.social-list{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.social-list__icon{
  fill: #C4C4C4;
 .social-list__link:hover &,
 .social-list__link:focus &{
  fill: #ffffff;
}
}
.social-list__link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  background-color: var(--accent-color);
}
}
