.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition-property: opacity, visibility;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: white;
  cursor: pointer;
  padding: 0%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-form{
  display: flex;
  flex-direction: column;
}
.modal-form-head{
 font-weight: bold;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
margin-bottom: 12px;
}
.modal-form-field{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: var(--text-color);
margin-bottom: 10px;
}
.modal-form-input-wrapper{
 position: relative; 
}
.modal-form-input{
 width: 100%;
 height: 40px;
 border: 1px solid rgba(33, 33, 33, 0.2);
 box-sizing: border-box;
 border-radius: 4px;
 padding-left: 42px;
 margin-top: 4px;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus{
   outline: none;
   border-color: var(--accent-color);
}
}

.modal-form-input-icon{
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
.modal-form-input:focus + &{
  fill: var(--accent-color);
}
}
 
.modal-form-message{
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus{
  outline: none;
  border-color: var(--accent-color);
   }
  &::placeholder{
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
}





.modal-form-checkbox-label{
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color); 
  margin-bottom: 30px;
   
  &::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  cursor: pointer;
  margin-right: 9px;
}
  .modal-form-checkbox:checked + &::before {
  background-image: url(../images/checkbox/check.svg);
  background-size: contain;
  border: transparent;
}
  .modal-form-checkbox:focus + &::before{
  outline: 1px solid var(--accent-color);
}
}
.modal-form-label-link{
  color:var(--accent-color);
 }
.modal-form-submit{
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}