.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200) {
  .container {
    width: 1200px;
  }
}
//.container {
//  width: 1200px;
//  margin: 0 auto;
//  padding-left: 15px;
//  padding-right: 15px;
//}
